---
const { title } = Astro.props;
---

<div class="accordion">
    <div class="title">
        <span class="rotate">&darr;</span>
        <h4>{title}</h4>
    </div>
    <div class="accordion-text">
        <slot />
    </div>
</div>

<style>
    .title {
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .accordion {
        display: flex;
        flex-flow: column;
        cursor: pointer;
        margin-bottom: 1em;
        padding: 12px 4em;
        box-shadow: 0 0px 9px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        background-color: beige;
        align-content: center;
    }

    .accordion-active {
        height: auto;
        margin-top: 12px;
        margin-bottom: 12px;
        line-height: 150%;
    }

</style>
