---
const { title } = Astro.props;
---

<div
    class="accordion">
    <div class="title">
        <h4>{title}</h4>
    </div>
    <div class="accordion-text">
        <slot />
    </div>
</div>

<style>

    .accordion {
        display: flex;
        flex-flow: column;
        margin-bottom: 1em;
        padding: 12px 4em;
        box-shadow: 0 0px 9px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        background-color: beige;
    }

    .accordion-active {
        height: auto;
        margin-top: 12px;
        margin-bottom: 12px;
        line-height: 150%;
    }

</style>
