---
import Accordion from './Accordion';
---

<section>
    <h2>
        שאלות?
    </h2>
    <h2>
        יש לנו תשובות
    </h2>

    <div class="main">
        <Accordion title="מי צריך כרטיס?" >
כל עצמאי ובעל עסק שרוצה לרכז את כל המידע החיוני אודות העסק שלו ופרטי ההתקשרות עמו במקום אחד.
        </Accordion>
        <Accordion 
            title="מה זה נותן לי?">
            כרטיס הביקור נותן לכם להציג את העסק בפני מגוון הלקוחות שלכם בשקיפות.
            הכרטיס מהווה אתר לכל דבר וככזה ישפר את אחוזי ההמרה שלכם.
            כלומר, לקוח שיכנס דרך כרטיס הביקור, יותר סביר לרכוש או להשתמש בשירותכם.
        </Accordion>
        <Accordion title="למה התשלום חודשי?">
            שאלה טובה.
            בניגוד למתחרים, אנחנו מתחייבים על הביצועים הטובים ביותר של האתרים שאנחנו מייצרים, ובנוסף לזה מתחייבים לתחזק ולטפל בכל בעיה טכנית שעלולה לצוץ.
            יחד עם זאת, אנו לא גובים עמלת הקמה.
            רק תשלום חודשי, ללא התחייבות. מי שרוצה הנחה יכול לשלם שנה מראש
        </Accordion>
        <Accordion title="אפשר לשנות?">
            קל. שלחו לנו הודעה ואנחנו משנים.
        </Accordion>
        <Accordion title="אפשר להציג גלריה?">
            ודאי. אם אתם רוצה להציג גלריה מעוצבת בצורה נכונה, זה אפשרי בהחלט.
        </Accordion>
        <Accordion title="למה דווקא אתם?">
            אנחנו יודעים לעצב את הכרטיס בהתאמה לסגנון שלכם והצורך העסק שלכם, כלומר להתאים אותו לקהל היעד ובכך לשפר אחוזי המרה.
            בנוסף, אנחנו מאוד מתגאים באיכות המוצר שאנחנו מוציאים הן ברמה הויזואלית והן ברמת התשתית.
            כל כרטיס נבנה בקוד מותאם ולא על-ידי תבניות של בוני אתרים, וככזה מבטיח ביצועים גבוהים וזמני טעינה מהירים
        </Accordion>
    </div>
</section>


<style>

    .accordion {
        max-width: 32em;
        border-radius: 24px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 8px 2em;
        box-shadow: 0 0 16px rgba(0,0,0,0.18);
        margin-bottom: 10px;
        transition: all 150ms ease-in-out;

        margin-bottom: 20px;
    }

    h2 {
        text-align: center;
    }
    section {
        padding: 4em 0;
        max-width: 40em;
        margin-inline: auto;
    }

    .main {
        padding: 2em;
        box-shadow: 0 0 9px rgba(0,0,0,0.18);
    }
</style>
