---
import Accordion from './Accordion.astro';
---

<section>
    <div class="wrapper">
        <h1>
            שאלות?
        </h1>

        <div class="main">
            <Accordion title="מי צריך כרטיס?" >
                <p>
                כל עצמאי ובעל עסק שרוצה לרכז את כל המידע החיוני אודות העסק שלו ופרטי ההתקשרות עמו במקום אחד.
                </p>
            </Accordion>
            <Accordion 
                title="מה זה נותן לי?">
                <p>
                    כרטיס הביקור נותן לכם להציג את העסק בפני מגוון הלקוחות שלכם בשקיפות.
                    הכרטיס מהווה אתר לכל דבר וככזה ישפר את אחוזי ההמרה שלכם.
                    כלומר, לקוח שיכנס דרך כרטיס הביקור, יותר סביר לרכוש או להשתמש בשירותכם.
                </p>
            </Accordion>
            <Accordion title="למה התשלום שנתי?">
                <p>
                שאלה טובה.
                בניגוד למתחרים, אנחנו מתחייבים על הביצועים הטובים ביותר של האתרים שאנחנו מייצרים, ובנוסף לזה מתחייבים לתחזק ולטפל בכל בעיה טכנית שעלולה לצוץ.
                יחד עם זאת, אנו לא גובים עמלת הקמה.
                </p>
            </Accordion>
            <Accordion title="אפשר לשנות?">
                
                <p>
                קל. שלחו לנו הודעה ואנחנו משנים.

                </p>
            </Accordion>
            <Accordion title="אפשר להציג גלריה?">
                <p>

                ודאי. אם אתם רוצה להציג גלריה מעוצבת בצורה נכונה, זה אפשרי בהחלט.
                </p>
            </Accordion>
            <Accordion title="למה דווקא אתם?">
                <p>
                אנחנו יודעים לעצב את הכרטיס בהתאמה לסגנון שלכם והצורך העסק שלכם, כלומר להתאים אותו לקהל היעד ובכך לשפר אחוזי המרה.
                בנוסף, אנחנו מאוד מתגאים באיכות המוצר שאנחנו מוציאים הן ברמה הויזואלית והן ברמת התשתית.
                כל כרטיס נבנה בקוד מותאם ולא על-ידי תבניות של בוני אתרים, וככזה מבטיח ביצועים גבוהים וזמני טעינה מהירים

                </p>
            </Accordion>
        </div>

    </div>
</section>


<style>

    section {
        background: var(--hero-linear);
    }

    h1 {
        font-size: 50px;
    }

    h1, h2 {
        text-align: center;
        color: #fefefa;
    }
    .wrapper {
        padding: 4em 0;
        max-width: 40em;
        margin-inline: auto;
    }

    .main {
        padding: 2em;
    }
</style>
