---
---
<section>
    <div class="feature feature-1">
        <div class="content">
            <h2>אתר לכל דבר ועניין</h2>
            <p>
                אתם מקבלים אתר, עם כתובת אינטרנט.
זה לא תמונה, זה לא רק עיצוב, זה לא רק כרטיס דיגיטלי, זה אתר לכל דבר ועניין.
            </p>
            <ul>
                <li>אפשר להשתמש בו לדף העסקי בגוגל</li>
                <li>אפשר להוסיף אותו בדף בפייסבוק</li>
                <li>אפשר לשתף אותו ללקוח מתעניין בוואטסאפ</li>
                <li>אפשר לשים אותו ב bio באינטסגרם</li>
            </ul>
        </div>
        <div class="img">
            <img src="/img/hero-img.jpg" alt="">
        </div>
    </div>

    <div class="feature feature-2">
        <div class="img">
            <img src="/img/hero-img.jpg" alt="">
        </div>

        <div class="content">
            <h2>עיצוב מותאם אישית</h2>
            <p>
                אנחנו אחראים לספק לכם עיצוב ייחודי, בהתאם למידע שנקלוט בתהליך ההיכרות עמכם. תעבירו לנו כל דבר שיעזור לנו להכיר אתכם טוב יותר.
            </p>
            <h2>תוכן</h2>
            <p>
                צלמים? תראו פורטפוליו עבודות
עורכי דין? תארו את שירותכם ותהליך העבודה עמכם.
מאמני כושר? תראו תוצאות מעודדות ומי קהל היעד שלכם.
            </p>
        </div>
        
    </div>

</section>


<style>

    .feature {
        display: flex;
        flex-flow: column;
        padding: 1em 2em;

        @media screen and (min-width:768px) {
            flex-flow: row;
            padding: 3em 10em;
        }
    }

    .feature-1 {

    }

    .feature-2 {
        color: #fff;
        background: linear-gradient(107.97deg, #CC5C44 0%, #DE9284 100%);
        gap: 24px;
    }

    section {
        background-color: #fff;
    }

    p {
        max-width: 65ch;
        line-height: 30px;

    }

</style>