---
---
<section>
    <div class="feature feature-1">
        <div class="content">
            <h1>אתר לכל דבר ועניין</h1>
            <p>
                אתם מקבלים אתר, עם כתובת אינטרנט.
זה לא תמונה, זה לא רק עיצוב, זה לא רק כרטיס דיגיטלי, זה אתר לכל דבר ועניין.
            </p>
            <ul>
                <li>&#10003; אפשר להשתמש בו לדף העסקי בגוגל</li>
                <li>&#10003; אפשר להוסיף אותו בדף בפייסבוק</li>
                <li>&#10003; אפשר לשתף אותו ללקוח מתעניין בוואטסאפ</li>
                <li>&#10003; אפשר לשים אותו ב bio באינטסגרם</li>
                <li>&#10003; אפשר למצוא אתכם בגוגל.</li>
            </ul>
        </div>
        <div class="image">
            <img src="/img/feature-1.png" alt="" width="380px">
        </div>
    </div>

    <div class="feature feature-2">
        <div class="image">
            <div class="overlay"></div>
            <img src="/img/feature-2.jpg" alt="">
        </div>

        <div class="content">
            <h2>עיצוב מותאם אישית</h2>
            <p>
                אנחנו אחראים לספק לכם עיצוב ייחודי, בהתאם למידע שנקלוט בתהליך ההיכרות עמכם. תעבירו לנו כל דבר שיעזור לנו להכיר אתכם טוב יותר.
            </p>
            <h2>תוכן</h2>
            <p>
                צלמים? תראו פורטפוליו עבודות
עורכי דין? תארו את שירותכם ותהליך העבודה עמכם.
מאמני כושר? תראו תוצאות מעודדות ומי קהל היעד שלכם.
            </p>
        </div>
        
    </div>

</section>


<style lang="scss">

    .feature {
        display: flex;
        flex-flow: column;
        padding: 1em 2em;
        text-align: justify;

        @media screen and (min-width:768px) {
            flex-flow: row;
            padding: 3em 10em;
            text-align: right;
            justify-content: center;
            // margin-left: auto;
            // margin-right: auto;
        }
    }

    .feature-1 {

    }

    .feature-2 {
        color: #fff;
        background: linear-gradient(107.97deg, #CC5C44 0%, #DE9284 100%);
        gap: 30px;

        .image {
            border-radius: 16px;
            box-shadow: -12px 12px 0 #45170D;
            position: relative;
            .overlay {
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: hsla(0, 56%, 52%, 0.2);
            }

            img {
                border-radius: 16px;
                width: 100%;
                height: 100%;
            }
        }
    }

    section {
        background-color: #fff;
    }

    p {
        max-width: 55ch;
        font-size: 18px;
        line-height: 30px;

    }

    ul {
        list-style: none;
        padding: 0;

        li {
          font-size: 18px;
        }
    }

</style>
