<footer>
    <p class="p-2 text-center text-sm">
        Designed &amp; Developed with 
        <span>♥</span> by 
        <a class="text-[#ffc532]" href="https://forweb.co.il">
            Forweb
        </a>
    </p>
</footer>

<style>
    footer {
        background-color: rgb(17, 24, 39);
        color: white;
        margin: 0;
        padding: 0;
    }

    p {
        padding: 1em;
        margin: 0;
        text-align: center;
        font-size: 14px;
        color: white;
    }

    span {
        color: hsl(15, 60%, 45%);
    }

    a {
        color: #ffc532;
        text-decoration: none;
    }
</style>