<header>

    <nav>
        <a href="#pricing">מחירון</a>
        <a href="#contact">צור קשר</a>
    </nav>

    <h1>forcard.</h1>
</header>


<style lang="scss">
    header {
        // height: 120px;
        background-color: transparent;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding-inline: 10em;
        opacity: 0.9;
        position: relative;
    }

    h1 {
        // margin: 0;
        // padding: 0;
        font-size: 3rem;
        font-size: 1rem;
    }

    nav > a {
        text-decoration: none;
        color: var(--color-text);
        padding-left: 10em;
    }
</style>