<main>
    <div class="wrapper">
        <div class="content">
            <h1>אתר קטן יותר <br>מגניב יותר</h1>
            <p>שיחה קצרה של 15 דקות, \n העברת תכנים ותמונות, כמה ימים ויש לכם אתר כזה! \n כזה פשוט!</p>
            <button>להזמנה</button>
        </div>
        <div class="hero-img"></div>
    </div>
</main>

<style lang="scss">
    main {
        background: var(--hero-linear);
        color: var(--color-text-white);
        // margin-top: -100px;
    }

    h1 {
        margin: 0;
        font-size: 4rem;
    }

    .wrapper {
        margin-inline: 10em;
    }
</style>