<main>
    <div class="wrapper">
        <div class="content">
            <h1>
            כרטיס ביקור דיגיטלי
              <br>
              <span class="re"></span>
              
            </h1>
            <p>
                כרטיס ביקור דיגיטלי בהתאמה אישית, כל המידע במקום אחד.
                <br>
                שיחה קצרה של 15 דקות,
                כמה ימים ויש לכם כרטיס ביקור דיגיטלי.
            </p>
            <a href="#contact">
                <button>
                    להזמנה
                </button>
            </a>
        </div>
        <div class="hero-img">
            <img src="/img/hero-img.png" alt="">
        </div>
    </div>
</main>

<style lang="scss">

    .rec {
        position: relative;
        width: 30px;
        height: 30px;
    }
    .rec:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 40px;
        height: 40px;
        background-color: #fff;
    }


    main {
        background: var(--hero-linear);
        color: var(--color-text-white);
        margin-top: -60px;
        padding-top: 100px;
    }

    .wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-bottom: 4em;
            text-align: center;
    }

    .content {
        flex: 1;
    }

    p {
        font-size: 1rem;
    }

    button {
        padding-inline: 2.875em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        color: #fff;
        background-color: #17181A;
        font-weight: bold;
        font-size: 20px;
        box-shadow: -4px 4px 0 var(--red-shade-1);
        border: none;
        cursor: pointer;
        transition: all 250ms cubic-bezier(0.23, 1, 0.320, 1);
        &:hover {
            transform: perspective(400px) rotateY(18deg) rotateX(9deg);
            transition: all 250ms ease-out;
            box-shadow: -6px 6px 0 var(--red-shade-2);
        }

        a {
            text-decoration: none;
        }
    }

    .hero-img {
        // flex: 1;
        // max-width: 800px;
        // width: 55%;
    }

    img { 
        width: 100%;
        height: 100%;
        object-fit: contain;
        // object-position: center -10px;
    }

    h1 {
        line-height: 1.1;
        font-family: "Tahoma";
        margin-bottom: 0;
        font-size: var(--font-size-xl);
		// font-size: clamp(2.44rem, 2.28vw + 1.85rem, 3.75rem); 
    }

    p {
        line-height: 32px;
        color: var(--color-off-white);
    }

    @media screen and (min-width: 48em) {
        .wrapper {
            display: flex;
            flex-flow: row;
            // margin-right: 4em;
            text-align: right;
        }

        .hero-img {
            width: 55%;
        }

        .content {
            width: 45%;
            text-align: right;
        }
    }

    @media screen and (min-width: 60em) {
        .wrapper {
            margin-right: 10em;
            text-align: right;
        }
    }


</style>
